.footer__links {
  display        : flex;
  width          : 465px;
  height         : 18px;
  justify-content: space-around;
  list-style     : none;
  padding        : 0;
  margin         : 0;
}

@media screen and (max-width: 320px) {
  .footer__links {
    width : 248px;
    height: 18px;
  }
}