.cover {
    display        : flex;
    position       : relative;
    max-width      : 1184px;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
    padding        : 92px 48px;
    margin-left    : auto;
    margin-right   : auto;
}

@media screen and (max-width: 1024px) {
    .cover {
        max-width: 1024px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        max-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        max-width: 320px;
        padding  : 66px 0 64px 0;
    }
}