.place__link {
    width               : 456px;
    height              : 22px;
    font-family         : 'Inter', Arial, sans-serif;
    font-style          : normal;
    font-weight         : normal;
    font-size           : 18px;
    line-height         : 22px;
    text-decoration-line: underline;
    color               : #FFFFFF;
}

.place__link:hover {
    opacity   : 0.8;
    transition: .8s;
}

@media screen and (max-width: 768px) {
    .place__link {
        width: 352px;
    }
}